.app_page1 {
	margin: 0;
	overflow: hidden;
	height:100%;
  }
  
  
	#middle {
	  position: absolute;
	  top: 0px;
	  bottom: 0;
	  left: 15%;
	  width: 15%;
	  overflow-y: scroll; 
	}
	
	#right {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  overflow-y: scroll;
	  width: 70%;
	}
  }
  
  #left {
	background-color: #FC6E51;
	text-align: center;
	height:50%;
	width:100%;
  }
  
  #middle{
	background-color: lightgreen;
	text-align: center;
	height:100%;
  }
  
  #right {
	height:100%;
	background-color: #ffffff;
	text-align: center;
  }
  
  h4{
	padding: 10px 0; 
  }
  
  .tool-card{
	padding: 10px 10px;
	margin: 10px 0;
  }
  .words{
	  margin-top:100px;
  }
  #name {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline:none;
    box-shadow:none;
}